<div>
  <div>
    <h1>
      List of all matches
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new match
    </h2>

    <form action="/insert_match" method="post">
      <div>
        <label for="fly_id_box">
          Fly
        </label>

        <input type="text" id="fly_id_box" name="query_fly_id">
      </div>

      <div>
        <label for="bug_id_box">
          Bug
        </label>

        <input type="text" id="bug_id_box" name="query_bug_id">
      </div>

      <button>
        Create match
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Fly
        </th>

        <th>
          Bug
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_matches.each do |a_match| %>
      <tr>
        <td>
          <%= a_match.id %>
        </td>

        <td>
          <%= a_match.fly_id %>
        </td>

        <td>
          <%= a_match.bug_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_match.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_match.updated_at) %> ago
        </td>

        <td>
          <a href="/matches/<%= a_match.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
